C:\Users\cice3\Terra-10-jenkins-task\.terraform
C:\Users\cice3\Terra-10-jenkins-task\.terraform.lock.hcl
C:\Users\cice3\Terra-10-jenkins-task\terraform.tfstate
C:\Users\cice3\Terra-10-jenkins-task\terraform.tfstate.backup